@charset "UTF-8";

.restaurant_page {
	background-color: #edf0f5;
	width: 100%;
	min-height: 1500px;
	display: flex;
	justify-content: center;
}

.container_box {
	width: 800px;
	height: 1250px;
	background-color: white;
	margin-top: 100px;
	display: flex;
	justify-content: center;
}

.container {
	width: 600px;
	height: 800px;
	display: block;
}

.restaurant_title {
	width: 600px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.restaurant_name {
	font-size: 45px;
	margin-top: 20px;
}



.food_image {
	width: 100%;
	height: 350px;
	background-color: white;
	display: flex;
	justify-content: center;
}

.food_image img {
	width: 600px;
	height: 350px;
	object-fit: cover;
}

.contents {
	width: 100%;
	height: 250px;
	margin-top: 20px;
}

.write-button {
	margin-top: 20px;
	cursor: pointer;
	width: 80px;
	height: 35px;
	color: white;
	border-radius: 8px;
	font-size: 15px;
	border: 0.5px solid green;
}

.change-delete {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-end;
}

.change-delete {
	margin: 0 10px 0 10px;
}

.delete-button-box {
	margin: 0 10px 0 10px;
}

.right_item {
	display: flex;
}

.UserID{
	display : flex;
}

.restaurant_count{
	width : 100%;
	height : 30px;
	padding : 10px;
	display : flex;
	justify-content: space-between;
}

.favorite_item {
    color: white;
}
    
.not_favorites_button{
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 112px;
	height: 44px;
	background-color: rgba(53, 62, 58, 0.05);
	justify-content: center;
	border-radius: 8px;
	flex-direction: row;
	margin: auto;
	text-decoration : none;
	color : gray;
}

.favorites_button{
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 112px;
	height: 44px;
	background-color: orange;
	justify-content: center;
	border-radius: 8px;
	flex-direction: row;
	margin: auto;
	text-decoration : none;
	color : white;
}
.isFavoritesButton{
	margin-top:20px;
	
}
